#uscImg {
    height: 400px;
    width: auto;
    display: block;
    margin: auto;
}
.uscBlurb {
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
}
#imgBackground {
    height: 500px;
}
#blockBackground {
    background-color: darkgray;
    height: 700px;
}
#educationContainer {
    align-content: center;
}
#educationHeader {
    text-align: center;
    font-size: 50px;
}
