<div ng-controller="EducationController as vm">
    <div id="imgBackground" class="contentBackground">
        <div class="contentContainer">
            <div class="col-md-6">
                <img id="uscImg" src="../../../assets/img/uscSeal.png" />
            </div>
            <div class="col-md-6">
                <p class="uscBlurb">{{vm.uscBlurbOne}}</p>
                <p class="uscBlurb">{{vm.uscBlurbTwo}}</p>
            </div>
        </div>
    </div>
    <div class="contentBackground" id="blockBackground">
        <div id="educationContainer" class="contentContainer">
            <h1 id="educationHeader">{{vm.educationHeader}}</h1>
        </div>
    </div>
</div>
