<div class="navContainer">
    <div class="navbar navbar-default" id="navBar">

        <div class="navbar-header">
            <a class="navbar-brand" href="">Test</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href="">Education</a>
                </li>
                <li ui-sref-active="active">
                    <a href="">Skills</a>
                </li>
                <li ui-sref-active="active">
                    <a href="">Experience</a>
                </li>
                <li ui-sref-active="active">
                    <a href="">Resume</a>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li ui-sref-active="active"><a href="">Contact Me</a></li>
            </ul>
        </div>
    </div>
</div>
